

body {
    height: 100px;
    width: 100px;
}

#inner {
	height: 75px;
	width: 75px;
	background-color: #547980;
	/*Add your CSS here!*/
	
}

#outer {
	height: 1500px;
	width: 150px;
	background-color: #45ADA8;
	position: absolute;
	margin-left: 100px;
}